APScheduler==3.10.4
atomicwrites==1.4.0
attrs==23.2.0
black==24.4.2
certifi==2025.7.9
chardet==5.2.0
click==8.1.7
colorama==0.4.6
flake8==7.0.0
idna==3.7
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
mypy==1.10.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.6.0
py==1.11.0
pycodestyle==2.11.1
pyflakes==3.2.0
pyparsing==3.1.2
pytest==8.2.2
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.4
six==1.16.0
toml==0.10.2
tomli==2.0.1
tornado==6.5
types-requests==2.32.4.20250611
types-urllib3==1.26.25.14
typing-extensions==4.12.2
tzlocal==4.3
urllib3==2.6.3