name: Python Code Check

on:
  workflow_call:
    secrets:
      BOT_TOKEN:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.13"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install deps
        run: |
          pip install -U pip
          pip install -r src/requirements.txt
      - name: Run tests
        run: make test
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.13"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install deps
        run: |
          pip install -U pip
          pip install -r src/requirements.txt
      - name: Lint asnd type check
        run: make ci
